h1{
    text-align: center;
    margin-top: 232px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 90px;
    line-height: 105px;
    letter-spacing: -16px;
}
h1 span:nth-child(1){
    color: #4285f4;
}
h1 span:nth-child(2){
    color: #EA4335;
}
h1 span:nth-child(3){
    color: #FCC629;
}
h1 span:nth-child(4){
    color: #4285f4;
}
h1 span:nth-child(5){
    color: #34A853;
}
h1 span:nth-child(6){
    color: #EA4335;
}
input{
    display: block;
    margin: 0 auto;
    width: 616px;
    height: 46px;
    background: #FFFFFF;
    border: 1px solid #DFE1E5;
    border-radius: 24px;
}
button{
    width: 111px;
    height: 36px;
    background: #F8F9Fa;
    border: 1px solid #F8F9Fa;
    border-radius: 4px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
}
.button-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 268px;
    margin: 0 auto;
    margin-top: 26px;
}
.button-box button:nth-child(1){
    Width: 111px;
    Height:36px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #000000;
}
.button-box button:nth-child(2){
    Width: 143px;
    Height: 36px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #000000;
}